<div>
  <div>
    <h1>RECIPES:</h1>
    <div>
    <% @recipes.each do |recipe|%>
      <% if recipe.user_id == @user %>
        <h2><%= recipe.name %></h2>
        <p><%= recipe.description %></p>
        <%= button_to "Remove", user_destroy_recipe_path(id: recipe.id), method: :delete, class: 'delete-btn'  %>
      <% end %>
    <% end %>
    </div>
  </div>
</div>